{% extends 'base.html.twig' %}

{% block title %}Nos annonces{% endblock %}

{% block body %}
    <h1>Nos annonces</h1>

    <ul>
        {% for annonce in annonces %}
            <li>
                <a href="{{ path('annonces_voir', {id: annonce.id}) }}">
                    {{ annonce.titre }}
                </a>
                <a href="{{ path('annonces_modifier', {id: annonce.id}) }}">Modifier</a>
                <a href="{{ path('annonces_supprimer', {id: annonce.id}) }}">Supprimer</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
