{% extends 'base.html.twig' %}

{% block title %}Modifier propriétaire {{ proprietaire.id }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button>Modifier</button>
    {{ form_end(form) }}
{% endblock %}
